venv/*
*.pyc
.coverage
default.db
src/*
ivy/libs/*
ivy/settings/devl.py
.swo
*.swp
htmlcov
app.env
test.env
.python-version
__pycache__
coverage.xml
test_results.xml
celerybeat-schedule
ivy/apps/cnaqma/management/commands/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
*.yml
plants/__pycache__
myenv/*
.rasa